<!DOCTYPE html>
<html>
<head>
    <title>Picu</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/lib/jQuery-File-Upload-9.12.1/css/jquery.fileupload.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseUrl }}/ui/css/style.css" media="screen" />
</head>
<body id="admin">
    <header>
        <div class="col-xs-6">
            <h1>Picu haldur</h1>
        </div>
        <div class="col-xs-6 text-right">
            <span>{{ user.username }}</span>
            {% if google.enabled %}
            <div class="btn-group">
                {% if google.auth %}
                <a href="{{ app.request.baseUrl }}/admin" class="btn btn-success" title="Google autentimine">
                    <i class="glyphicon glyphicon-check"></i> Google
                </a>
                {% else %}
                <a href="{{ app.request.baseUrl }}/admin/googleToken" class="btn btn-primary" title="Google autentimine">
                    <i class="glyphicon glyphicon-log-in"></i> Google
                </a>
                {% endif %}
            </div>
            {% endif %}
            <div class="btn-group">
                <a href="{{ app.request.baseUrl }}/clear-cache" class="clear-cache gallery btn btn-warning" title="Süngi galerii puhver">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
                <a href="{{ app.request.baseUrl }}/clear-cache/all" class="clear-cache btn btn-danger" title="Süngi kogu puhver">
                    <i class="glyphicon glyphicon-repeat"></i>
                </a>
            </div>
            <div class="btn-group">
                <a href="{{ app.request.baseUrl }}/logout" class="btn btn-danger">
                    <i class="glyphicon glyphicon-off"></i>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </header>
    <section>
        <div class="col-md-12">
            <ul>
                {% for set in sets.flickr %}
                <li>
                    <div class="pull-left">
                        <a href="{{ app.request.baseUrl }}/a/{{ set.id }}/" target="_blank">
                            <img src="https://farm{{ set.farm }}.staticflickr.com/{{ set.server }}/{{ set.primary }}_{{ set.secret }}_q.jpg" title="{{ set.title._content }}" />
                        </a>
                    </div>
                    <div class="pull-left">
                        <h3>{{ set.title._content }}</h3>
                        <div class="tools">
                            <a href="{{ app.request.baseUrl }}/a/{{ set.id }}/" target="_blank">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </a>
                            <a href="{{ app.request.baseUrl }}/upload/{{ set.id }}" class="fileupload fileinput-button" title="Lae pilte juurde">
                                <i class="glyphicon glyphicon-open"></i>
                                <input type="file" name="files[]" accept="image/*" multiple />
                            </a>
                            <a href="{{ app.request.baseUrl }}/clear-cache/{{ set.id }}" class="clear-cache text-warning" title="Süngi albumi puhver">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <a href="{{ app.request.baseUrl }}/admin/copyTo/{{ set.id }}/flickr/google" class="change-provider text-danger" title="Tee koopia Google teenusesse">
                                <i class="glyphicon glyphicon-duplicate"></i>
                            </a>
                            <span>{{ set.photos }}</span>
                            <span>FLICKR</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bar"></div>
                </li>
                {% endfor %}
                {% for set in sets.google %}
                <li>
                    <div class="pull-left">
                        <a href="{{ app.request.baseUrl }}/a/{{ set.id }}/" target="_blank">
                            <img src="{{ set.coverPhotoBaseUrl }}" title="{{ set.title }}" />
                        </a>
                    </div>
                    <div class="pull-left">
                        <h3>{{ set.title }}</h3>
                        <div class="tools">
                            <a href="{{ app.request.baseUrl }}/a/{{ set.id }}/" target="_blank">
                                <i class="glyphicon glyphicon-new-window"></i>
                            </a>
                            <a href="{{ app.request.baseUrl }}/upload/{{ set.id }}" class="fileupload fileinput-button" title="Lae pilte juurde">
                                <i class="glyphicon glyphicon-open"></i>
                                <input type="file" name="files[]" accept="image/*" multiple />
                            </a>
                            <a href="{{ app.request.baseUrl }}/clear-cache/{{ set.id }}" class="clear-cache text-danger" title="Süngi albumi puhver">
                                <i class="glyphicon glyphicon-repeat"></i>
                            </a>
                            <span>{{ set.total }}</span>
                            <span>GOOGLE PHOTOS</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bar"></div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <script src="{{ app.request.baseUrl }}/lib/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="{{ app.request.baseUrl }}/lib/jQuery-File-Upload-9.12.1/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
    <script src="{{ app.request.baseUrl }}/lib/jQuery-File-Upload-9.12.1/js/jquery.fileupload.js" type="text/javascript"></script>
    <script src="{{ app.request.baseUrl }}/ui/js/admin.js" type="text/javascript"></script>
</body>
</html>
