{% extends '@__main__/layout.twig' %}

{% block contents %}
<div class="container text-center">
    <div id="loginform">
        <h1>404</h1>
        <p>It is not what you looking for!</p>
    </div>
    <a href="https://github.com/sookoll/picu">
        <img src="{{ base_url }}/ui/img/GitHub-Mark-32px.png" />
    </a>
</div>
{% endblock %}

