<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase /picu
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^media/p(\d+)/cache/([^.]+)\.card\.jpg$ index.php?r=backend/product/imageNew/$1/$2 [R,L]
    RewriteRule . index.php [L]
</IfModule>

# Prevent file browsing
Options -Indexes
